*{
    font-family:'Roboto', sans-serif; 
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    display: flex;
    justify-content: center;
   
}

.container-1{
    height: 1666px;
    width: 830px;
}

.container-2{
    border-radius: 10px;
    box-shadow: 0 0px 5px rgb(0, 0, 0);
}

.title{
    height: 45px;
    width: 830px;
    font-size: 19.2px;
    display: flex;
    align-items: center;
    margin-left: 30px;

}

.profile{
    height: 183px;
    width: 830px;
    display: flex;
}

.profile-left img{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.profile-right{
    height: 134px;
    width: 206px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 24px;
}

.profile-right img{
    height: 16px;
    width: 16px;
}

.profile-right button{
    height: 38px;
    width: 140px;
    background-color: #128FF9;
    
}

.profile-right span{
    display: block;
    line-height: 1.7;
}

.description-1{
    height: 901px;
    width: 830px;
}

.description-2{
    height: 852px;
    width: 782px;
    line-height: 1.8;
    margin: auto;
}

p{
    font-size: 16px;
    line-height: 1.3;
}

button{
    width: 100px;
    height: 30px;
    font-size: medium;
    margin-top: 30px;
}

